<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>More</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click) ="itemSelected(0)">
      <ion-avatar item-start>
        <img src="assets/faq-icon.png">
      </ion-avatar>
      <h2>FAQ</h2>
      <p>Frequently asked questions </p>
    </ion-item>

    <ion-item (click) ="itemSelected(1)">
      <ion-avatar item-start>
        <img src="assets/feedback.png">
      </ion-avatar>
      <h2>Feedback</h2>
      <p>Give us a feedback on our platform/p>
    </ion-item>


    <ion-item (click) ="itemSelected(4)">
      <ion-avatar item-start>
        <img src="assets/recommendation.png">
      </ion-avatar>
      <h2>Recommendation and Suggestions</h2>
      <p>What would you love to see on repro me</p>
    </ion-item>

    <ion-item (click) ="itemSelected(2)">
      <ion-avatar item-start>
        <img src="assets/link-closed-flat.png">
      </ion-avatar>
      <h2>Useful Links</h2>
      <p>Useful links to get more information about services</p>
    </ion-item>



  </ion-list>

</ion-content>
