<!--
  Generated template for the ShareStoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>ShareStory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Full name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Story</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button full color="dark">Submit</button>
    </ion-item>

  </ion-list>
</ion-content>
