<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<ion-title>-->
<!--Contact-->
<!--</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content padding>
  <!--<ion-list>-->
  <!--<ion-list-header>Follow us on Twitter</ion-list-header>-->
  <!--<ion-item>-->
  <!--<ion-icon name="ionic" item-left></ion-icon>-->
  <!--@ionicframework-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <div class="radius-banner">
    <img src="assets/icon.png" style="height: auto; width: 50%; border-radius: 100px; padding: 10px; margin-top:3%">
  </div>
  <div>
    <ion-card style="padding-bottom: 40px">
      <ion-list>
        <ion-item>
          <ion-label floating>E-mail or Phone number</ion-label>
          <ion-input type="text" [(ngModel)]="loginDetails.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="loginDetails.password"></ion-input>
        </ion-item>
        <div class="login-button-container">
          <button ion-button full color="dark" (click)="loginUser()">Login</button>
        </div>

      </ion-list>
    </ion-card>


  </div>
  <div class="auth-links-links">
    <a (click)="gotoRegistrationPage()" style="color: white !important;">Don't have account?</a>
  </div>

</ion-content>
