page-login {
  .login-button-container, .auth-links-links{
    margin-top: 3% !important;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
  }
  .radius-banner{
    width: 100% !important;
    height: auto!important;
    margin-top: 12%;
    text-align: center !important;
  }
  .login-components{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  ion-content {
    background-color: #009688 !important;
  }
  ion-input, ion-card, div{
    color:#ffffff !important;

  }
  ion-list, ion-item, ion-label, ion-input{
    color: black !important;
    background-color: white !important;
  }
}

//button{
//  background-color: #333c66!important;
//}

