<!--
  Generated template for the MoreDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "danger">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="faq-section"  *ngIf="isFaq">
    <ion-card *ngFor="let info of data">

      <ion-card-header color="primary">
        {{info.title}}
      </ion-card-header>

      <ion-card-content>
        {{ info.answer}}
        <ion-note item-end (click)="callNumber()">
          For more information call 22252, 09080022252 for whatsapp only or
        </ion-note>
        <br>
        <ion-note item-end (click)="visitCenter()">
          Visit a center
        </ion-note>
      </ion-card-content>

    </ion-card>
  </div>
  <div class="feedback" *ngIf="isFeedback">
    <ion-list>

      <ion-item>
        <ion-label floating>Fullname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone number</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Name of clinic visited</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <ion-list radio-group [(ngModel)]="question_1">
        <ion-list-header>Did you take up a service</ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group [(ngModel)]="question_2">
        <ion-list-header>Was the clinic youth friendly</ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-list>


      <ion-list radio-group [(ngModel)]="question_3">
        <ion-list-header>Was the service of high quality</ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-list>


      <ion-list radio-group [(ngModel)]="question_4">
        <ion-list-header>Will you recommend a family or a friend</ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-list>


      <ion-item>
        <button ion-button full color="dark">Submit</button>
      </ion-item>

    </ion-list>
  </div>
  <div class="link-section" *ngIf="isUsefulLinks">
    <ion-card *ngFor="let info of data" (click)="openBrowser(info.URL)">

      <ion-card-header color="primary">
        {{info.title}}
      </ion-card-header>

      <ion-card-content>
        {{ info.URL}}
      </ion-card-content>

    </ion-card>
  </div>


  <div class="rec-and-suggest" *ngIf="isRecandSugget">
    <ion-list>

      <ion-item>
        <ion-label floating>Full name</ion-label>
        <ion-input type="text" [(ngModel)]="recommendationFullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Message</ion-label>
        <ion-input type="text" [(ngModel)]="recommendationMessage"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button full color="dark" (click)="sendRecommendation()">Send</button>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
