<!--
  Generated template for the VisitCenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>VisitCenter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-label>States</ion-label>
    <ion-select [(ngModel)]="states">
      <ion-option>Abia</ion-option>
      <ion-option>Abuja</ion-option>
      <ion-option>Adamawa</ion-option>
      <ion-option>Akwa Ibom</ion-option>
      <ion-option>Anambra</ion-option>
      <ion-option>Bauchi</ion-option>
      <ion-option>Bayelsa</ion-option>
      <ion-option>Benue</ion-option>
      <ion-option>Borno</ion-option>
      <ion-option>Cross River</ion-option>
      <ion-option>Delta</ion-option>
      <ion-option>Ebonyi</ion-option>
      <ion-option>Edo</ion-option>
      <ion-option>Ekiti</ion-option>
      <ion-option>Enugu</ion-option>
      <ion-option>Gombe</ion-option>
      <ion-option>Imo</ion-option>
      <ion-option>Jigawa</ion-option>
      <ion-option>Kaduna</ion-option>
      <ion-option>Kano</ion-option>
      <ion-option>Kastina</ion-option>
      <ion-option>Kebbi</ion-option>
      <ion-option>Kogi</ion-option>
      <ion-option>Kwara</ion-option>
      <ion-option>Lagos</ion-option>
      <ion-option>Nasarawa</ion-option>
      <ion-option>Niger</ion-option>
      <ion-option>Ogun</ion-option>
      <ion-option>Ondo</ion-option>
      <ion-option>Osun</ion-option>
      <ion-option>Oyo</ion-option>
      <ion-option>Plateau</ion-option>
      <ion-option>Rivers</ion-option>
      <ion-option>Sokoto</ion-option>
      <ion-option>Taraba</ion-option>
      <ion-option>Yobe</ion-option>
      <ion-option>Zamfara</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Enter  Your LGA</ion-label>
    <ion-input type="text" (input) = "onSearch($event)"></ion-input>
  </ion-item>

  <div padding>
    <h4>Available Clinics</h4>
    <ion-item *ngFor="let clinic of availableClinics" (click)="openClinicModal(clinic.location, clinic.name, clinic.number)">
      <ion-label>{{ clinic.name }}</ion-label>
    </ion-item>
  </div>
</ion-content>
