<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<ion-title>-->
<!--Contact-->
<!--</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content padding>
  <!--<ion-list>-->
  <!--<ion-list-header>Follow us on Twitter</ion-list-header>-->
  <!--<ion-item>-->
  <!--<ion-icon name="ionic" item-left></ion-icon>-->
  <!--@ionicframework-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <div style="width: 100%; text-align: center;">
    <img src="assets/icon.png" style="height: auto; width: 50%; border-radius: 100px; padding: 10px; margin-top:3%">
  </div>
  <ion-card style="padding-bottom: 40px">
    <div>
    <ion-list >
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="registrationDetails.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail or PhoneNumber</ion-label>
        <ion-input type="email" [(ngModel)]="registrationDetails.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="registrationDetails.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="registrationDetails.cpassword"></ion-input>
      </ion-item>

      <div class="login-button-container">
        <button ion-button full (click)="registerUserWithDetails()" color="dark">Register</button>
      </div>

    </ion-list>


  </div>
  </ion-card>
  <div class="auth-links-links">
    <a (click)="backToLogin()" style="color: white !important;">Already have account?</a>
  </div>

</ion-content>
