<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-grid no-padding>
    <ion-row>
      <ion-col (click)="gotoCounselling()" col-6 col-sm>
        <ion-card>
          <img src="assets/counselling.png"/>
          <div class="card-title">Counselling</div>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm (click)="gotoVisitCentre()">
        <ion-card>
          <img src="assets/visit_center.jpg"/>
          <div class="card-title">Visit centre</div>
        </ion-card>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col (click)="gotoInformationHub()" col-6 col-sm>
        <ion-card>
          <img src="assets/information.png"/>
          <div class="card-title">Information Hub</div>
        </ion-card>
      </ion-col>

      <ion-col (click)="gotoMore()" col-6 col-sm>
        <ion-card>
          <img src="assets/more3.png"/>
          <div class="card-title">More</div>
        </ion-card>
      </ion-col>

    </ion-row>



  </ion-grid>
  <div padding>
    <ion-item (click)="openBrowser()">
      <ion-avatar item-start>
        <img src="assets/serrvices.png">
      </ion-avatar>
      <h2>Free Services</h2>
      <p>Meet our authorized centre to get free service</p>
    </ion-item>

    <ion-item (click)="openBrowser()">
      <ion-avatar item-start>
        <img src="assets/bonus.png">
      </ion-avatar>
      <h2>Myth</h2>
      <p>Things that are not true</p>
    </ion-item>

    <ion-item (click)="openBrowser()">
      <ion-avatar item-start>
        <img src="assets/SendAletterIcon.png">
      </ion-avatar>
      <h2>Share story</h2>
      <p>Please share your stories and inspire others</p>
    </ion-item>
  </div>

</ion-content>
