page-home {
  .card-background-page {
    background-color: #e0e0e0;
    ion-card {
      position: relative;
      text-align: center;
      height:95%;
    }

    .card-title {
      position: absolute;
      top: 80%;
      font-size: 1.2em;
      width: 100%;
      font-weight: bold;
      color: #ff4081;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    ion-card img{
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 25%;
    }

  }


}

