<!--
  Generated template for the PtiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>PID</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-title>PID</ion-card-title>
    <ion-card-content>Pelvic inflammatory disease (PID) is an infection of the fallopian tubes, uterus, or ovaries. Most girls with PID develop it after getting a sexually transmitted disease (STD), such as chlamydia or gonorrhea.
      Girls who have sex with different partners or don't use condoms are most likely to get STDs and be at risk for PID. If PID is not treated, it can lead to internal scarring that might cause ongoing pelvic pain, infertility, or an ectopic pregnancy.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let info of information; let i = index">
    <ion-card-header color="primary" (click)="toggleView(i)">{{info.title}}</ion-card-header>
    <ion-card-content *ngIf="selectedContent == i">
      <div [innerHTML] = "info.body"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 22252, 09080022252 for whatsapp only or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
