<!--
  Generated template for the ContraceptiveDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{data.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-card-title><div [innerHTML] = "data.title"></div></ion-card-title>
    <ion-card-content>
      <div [innerHTML] = "data.desc"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 080062743786737 or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>

    <ion-list-header (click)="toggleMerit()">How it works</ion-list-header>
    <ion-card-content *ngIf="showMerit">
      <div [innerHTML] = "data.advantages"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 22252, 09080022252 for whatsapp only or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>

    <ion-list-header (click)="toggleDemerit()">Facts</ion-list-header>
    <ion-card-content *ngIf="showDemerit">
      <div [innerHTML] = "data.disadvantages"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 22252, 09080022252 for whatsapp only or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
