<!-- Generated template for the AppointMentSheetComponent component -->
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Appointment
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">

  <ion-list>
    <ion-item>
      {{ appoinmentSheetTitle }}
    </ion-item>
    <ion-item>
      Center: {{ appoinmentSheetLocation }}
    </ion-item>
    <ion-item>
      <ion-label float>Enter Your name</ion-label>
      <ion-input type="text" [(ngModel)]="clientName"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime min="2017" max="2020-10-31" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>

    <ion-item>
      <button ion-button block icon-left color="dark" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
        Book appointment
      </button>
    </ion-item>

  </ion-list>

</ion-content>
