// http://ionicframework.com/docs/v2/theming/

ion-card-content{
  text-align: justify;
  text-justify: inter-word;
}
button{
  padding-top: 7% !important;
  padding-bottom: 7% !important;
}
ion-content{
  //background-color: #e0e0e0 !important;
  background-color: #009688 !important;
}
ion-content.content_list, ion-content.content_list ion-list{
  background-color: #ffffff !important;
  //color: #ffffff !important;
}
@font-face {
  font-family: noto-sans-regular;
  src: url(assets/fonts/roboto-bold.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: roboto-bold !important;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
