<ion-menu [content]="content" danger>
  <!--<ion-header>-->
    <!--<ion-toolbar>-->
      <!--<ion-title>Reprome</ion-title>-->
    <!--</ion-toolbar>-->
  <!--</ion-header>-->

  <ion-content class="content_list">
    <div style="height: 150px; width: 100%; background-color: #009688" >
      <img src="assets/icon.png" style="height: 100px; width: 100px; border-radius: 100px; padding: 10px; margin-top:20px">
      <div style="margin-left: 20px; color: #ffffff">Reprome</div>
    </div>

    <ion-list no-lines inset>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logOut()">
        Log Out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
