<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Health Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item (click) ="itemSelected(0)">
      <ion-avatar item-start>
        <img src="assets/female-icon.png">
      </ion-avatar>
      <h2>Ladies Business</h2>
      <p>Period and menstrual hygiene </p>
    </ion-item>

    <!--<ion-item (click) ="itemSelected(1)">-->
      <!--<ion-avatar item-start>-->
        <!--<img src="assets/contraception.png">-->
      <!--</ion-avatar>-->
      <!--<h2>Contraceptive</h2>-->
      <!--<p>Contraceptive use in adolescent and young adults</p>-->
    <!--</ion-item>-->

    <ion-item (click) ="itemSelected(2)">
      <ion-avatar item-start>
        <img src="assets/tablets-icon.png">
      </ion-avatar>
      <h2>Infections and Diseases</h2>
      <p>PIDS/UTIS/STIS Transmission</p>
    </ion-item>

    <ion-item (click) ="itemSelected(3)">
      <ion-avatar item-start>
        <img src="assets/pregnancy.png">
      </ion-avatar>
      <h2>Pregnancy Prevention</h2>
      <p>Pregnancy advice for adolescent and married women</p>
    </ion-item>
  </ion-list>

</ion-content>
