<!--
  Generated template for the InformationHubDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{ information.id }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let info of information.data; let i = index">

    <ion-card-header color="primary" (click)="toggleView(i, info.title)">
      {{info.title}}
    </ion-card-header>

    <ion-card-content *ngIf="selectedContent == i">
      <div [innerHTML] = "info.body"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 22252, 09080022252 for whatsapp only or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>

  </ion-card>
</ion-content>
