<!--
  Generated template for the StiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>STI's</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-title>STI's</ion-card-title>
    <ion-card-content>Sexually transmitted diseases (STDs) are infectious diseases that spread from person to person through sex. STDs can affect guys and girls of all ages who are having sex. Unfortunately, STDs (sometimes also called STIs for "sexually transmitted infections") have become common among teens, adolescents and young adults. Because teens, adolescent and young adults are more at risk for getting some STDs, it's important to learn what you can do to protect yourself.
      STDs are more than just an embarrassment If untreated, some STDs can cause permanent damage, such as infertility (the inability to have a baby) in future and even death (in the case of HIV/AIDS).
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let info of information; let i = index">
    <ion-card-header color="primary" (click)="toggleView(i)">{{info.title}}</ion-card-header>
    <ion-card-content *ngIf="selectedContent == i">
      <div [innerHTML] = "info.body"></div>
      <ion-note item-end (click)="callNumber()">
        For more information call 22252, 09080022252 for whatsapp only or
      </ion-note>
      <br>
      <ion-note item-end (click)="visitCenter()">
        Visit a center
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
