<!--
  Generated template for the ContraceptivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Contraceptive</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Contraceptive</ion-card-title>
      Besides abstinence, using a contraceptive method during sexual intercourse can effectively prevent pregnancy. There are several contraception methods currently available to suit your individual need. So whether you’re a slay queen, a glamour queen or a pepper them gang, you can conveniently find a contraceptive method that is right for you and can help to avoid pregnancy when you are not ready for the responsibility. These methods could be effective for one sexual episode, for months or years depending on your need.

    </ion-card-content>
  </ion-card>

  <br>
  <ion-list>
    <ion-list-header>Temporary modern contraceptives </ion-list-header>
    <!--<ion-item (click)="gotoNext(0)">Condom</ion-item>-->
    <!--<ion-item *ngIf="condom">-->
      <!--<ion-list>-->
        <!--<ion-item (click)="gotoNext(1)">Male Condom</ion-item>-->
        <!--<ion-item (click)="gotoNext(2)">Female Condom</ion-item>-->
      <!--</ion-list>-->
    <!--</ion-item>-->
    <ion-item (click)="gotoNext(8)">Condoms</ion-item>
    <ion-item (click)="gotoNext(3)">Oral pill</ion-item>
    <ion-item (click)="gotoNext(4)">Contraceptive Injections</ion-item>
    <ion-item (click)="gotoNext(5)">Hormonal Implant</ion-item>
    <ion-item (click)="gotoNext(6)">Intrauterine contraceptive device</ion-item>
    <ion-item (click)="gotoNext(9)">IUS</ion-item>
    <ion-item (click)="gotoNext(7)">Emergency contraceptive</ion-item>
  </ion-list>
</ion-content>
